@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.list-how {
  list-style-type: none;
  counter-reset: item;
}
.list-how li {
  position: relative;
}
.list-how li:before {
  counter-increment: item;
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0;
}

.block-header {
  display: grid;
  gap: 1.5rem;
}
.block-header--center {
  text-align: center;
}
.block-header--inline {
  grid-template-columns: minmax(auto, 36.625rem) minmax(auto, 38.3125rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1.5rem;
}
@media (max-width: 61.99875rem) {
  .block-header--inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.block-header__title {
  color: #171921;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 120rem) {
  .block-header__title {
    font-size: 52px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .block-header__title {
    font-size: calc(24px + 47.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .block-header__title {
    font-size: calc(24px + 28 * 100vw / 1920);
  }
}
.block-header__title--big {
  font-weight: 800;
}
@media (min-width: 120rem) {
  .block-header__title--big {
    font-size: 64px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .block-header__title--big {
    font-size: calc(32px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .block-header__title--big {
    font-size: calc(32px + 32 * 100vw / 1920);
  }
}
.block-header__title--white {
  color: #fff;
}
.block-header__text p {
  line-height: 1.55;
}
.block-header__info p {
  line-height: 1.55;
}
@media (min-width: 120rem) {
  .block-header__info p {
    font-size: 20px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .block-header__info p {
    font-size: calc(18px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .block-header__info p {
    font-size: calc(18px + 2 * 100vw / 1920);
  }
}
.block-header__info a {
  font-weight: 700;
  color: #15B2F5;
  text-decoration: underline;
}
@media (min-width: 120rem) {
  .block-header__info a {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .block-header__info a {
    font-size: calc(18px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .block-header__info a {
    font-size: calc(18px + 6 * 100vw / 1920);
  }
}
.block-header__info a:hover {
  text-decoration: none;
}

body {
  font-family: "Plus Jakarta Sans";
  color: #545971;
}
@media (min-width: 120rem) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  body {
    font-size: calc(16px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  body {
    font-size: calc(16px + 2 * 100vw / 1920);
  }
}

[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  background-color: #142257;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}
.header__header-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  min-height: 5rem;
  display: grid;
  grid-template-columns: 10.625rem 1fr 10.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 47.99875rem) {
  .header__header-container {
    min-height: 3.4375rem;
    grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__schedule {
  justify-self: end;
  color: #fff;
  font-weight: 700;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.header__schedule::before {
  content: "";
  background-color: #FF5E5E;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
}
@media (max-width: 47.99875rem) {
  .header__schedule-old {
    display: none;
  }
}
.header__schedule-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.875rem 0.9375rem 1.875rem 0.9375rem;
}
@media (min-width: 47.99875rem) {
  .header__schedule-new {
    display: none;
  }
}

.menu {
  justify-self: center;
}
@media (max-width: 47.99875rem) {
  .menu__body {
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #1F3584;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.4375rem;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: #142257;
  }
  .menu__body.menu-open {
    left: 0;
  }
  .menu__body.menu-open::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}
@media (min-width: 120rem) {
  .menu__list {
    -webkit-column-gap: 57px;
       -moz-column-gap: 57px;
            column-gap: 57px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .menu__list {
    -webkit-column-gap: calc(5px + 88.4 * (100vw - 320px) / 1920);
       -moz-column-gap: calc(5px + 88.4 * (100vw - 320px) / 1920);
            column-gap: calc(5px + 88.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .menu__list {
    -webkit-column-gap: calc(5px + 52 * 100vw / 1920);
       -moz-column-gap: calc(5px + 52 * 100vw / 1920);
            column-gap: calc(5px + 52 * 100vw / 1920);
  }
}
@media (max-width: 47.99875rem) {
  .menu__list {
    font-size: 1.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.menu__link {
  color: #fff;
  font-weight: 700;
  line-height: 1.33;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.header nav a.active {
  color: #15B2F5;
}

.burger-menu {
  display: none;
}
@media (max-width: 47.99875rem) {
  .burger-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875rem) and (any-hover: none) {
  .burger-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875rem) {
  .burger-menu span, .burger-menu::before, .burger-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: calc(50% - 0.0625rem);
  }
  .burger-menu.menu-open span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.hero {
  background-color: #142257;
  width: 100%;
}
.hero__hero-container {
  max-width: 120rem;
  padding: 5rem 0.9375rem 0.625rem 0.9375rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875rem) {
  .hero__hero-container {
    padding: 3.125rem 0.9375rem 0.625rem 0.9375rem;
  }
}
.hero__image {
  width: 21.8%;
  position: relative;
}
.hero__image img {
  border-radius: 24px;
  overflow: hidden;
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__image_left:after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  right: 0px;
  background: url("../img/hero/Shadow-left.svg") 0 0/cover no-repeat;
}
.hero__image_right:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/hero/Shadow-right.svg") no-repeat;
  background-size: cover;
}
@media (max-width: 61.99875rem) {
  .hero__image {
    display: none;
  }
}
.hero__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 120rem) {
  .hero__body {
    padding-top: 160px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .hero__body {
    padding-top: calc(24px + 231.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .hero__body {
    padding-top: calc(24px + 136 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .hero__body {
    padding-left: 40px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .hero__body {
    padding-left: calc(10px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .hero__body {
    padding-left: calc(10px + 30 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .hero__body {
    padding-right: 40px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .hero__body {
    padding-right: calc(10px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .hero__body {
    padding-right: calc(10px + 30 * 100vw / 1920);
  }
}
.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 120rem) {
  .hero__content {
    padding-bottom: 150px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .hero__content {
    padding-bottom: calc(50px + 170 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .hero__content {
    padding-bottom: calc(50px + 100 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .hero__items:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .hero__items:not(:last-child) {
    margin-bottom: calc(14px + 17 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .hero__items:not(:last-child) {
    margin-bottom: calc(14px + 10 * 100vw / 1920);
  }
}
.hero__block-header {
  max-width: 41.875rem;
}
.hero__block-header:not(:last-child) {
  margin-bottom: 1.5rem;
}
.items-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
}
.items-hero__item {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: #9EA3B5;
  position: relative;
}
.items-hero__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.125rem);
  right: -1.78125rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #9EA3B5;
}

.done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.1875rem;
  margin-bottom: 3rem;
}
.done__item {
  font-size: 20px;
  line-height: 1.5;
  color: #15B2F5;
  background: url("../img/icons/ok-check.svg") left 0.25rem no-repeat;
  padding-left: 2rem;
}

.button {
  padding: 0.4375rem;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button--call {
  background-color: #15B2F5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #15B2F5;
}
.button--call:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1F3584;
}
.button--call span:nth-child(1) {
  padding: 0.5rem 1rem;
}
.button--call span:last-child {
  background: url("../img/icons/Icon-phone.svg") left no-repeat;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.advantages-hero {
  padding-bottom: 1.875rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 2.5rem;
  position: relative;
}
@media (min-width: 120rem) {
  .advantages-hero {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .advantages-hero {
    -webkit-column-gap: calc(50px + 17 * (100vw - 320px) / 1920);
       -moz-column-gap: calc(50px + 17 * (100vw - 320px) / 1920);
            column-gap: calc(50px + 17 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .advantages-hero {
    -webkit-column-gap: calc(50px + 10 * 100vw / 1920);
       -moz-column-gap: calc(50px + 10 * 100vw / 1920);
            column-gap: calc(50px + 10 * 100vw / 1920);
  }
}
@media (max-width: 120rem) {
  .advantages-hero {
    grid-template-columns: repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 61.99875rem) {
  .advantages-hero::after {
    content: "";
    position: absolute;
    background: url("../img/hero/advantages-hero-decore/decore.svg") no-repeat;
    width: 17.5rem;
    height: 13.75rem;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 43%);
        -ms-transform: translate(-50%, 43%);
            transform: translate(-50%, 43%);
  }
}
.advantages-hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.5rem;
  position: relative;
}
@media (min-width: 120rem) {
  .advantages-hero__item:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 0.0625rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(79, 102, 183, 0)), color-stop(50%, rgb(79, 102, 183)), to(rgba(79, 102, 183, 0)));
    background: linear-gradient(0deg, rgba(79, 102, 183, 0) 0%, rgb(79, 102, 183) 50%, rgba(79, 102, 183, 0) 100%);
  }
}
@media (min-width: 120rem) and (min-width: 120rem) {
  .advantages-hero__item:not(:last-child)::after {
    right: -30px;
  }
}
@media (min-width: 120rem) and (max-width: 120rem) and (max-width: 767px) {
  .advantages-hero__item:not(:last-child)::after {
    right: calc(-20px + -17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 120rem) and (max-width: 120rem) and (min-width: 767px) {
  .advantages-hero__item:not(:last-child)::after {
    right: calc(-20px + -10 * 100vw / 1920);
  }
}
@media (max-width: 61.99875rem) {
  .advantages-hero__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 47.99875rem) {
  .advantages-hero__item {
    max-width: 120px;
  }
}
.advantages-hero__icon {
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  background-color: #1F3584;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-hero__icon img {
  max-width: 100%;
}
.advantages-hero__text {
  font-weight: 600;
  line-height: 1.33;
  color: #fff;
  text-align: center;
}
@media (min-width: 120rem) {
  .advantages-hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: start;
  }
}

.decore-hero {
  background-color: #fff;
}
.decore-hero__main {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #142257;
  position: relative;
}
@media (min-width: 120rem) {
  .decore-hero__main {
    height: 45px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .decore-hero__main {
    height: calc(30px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .decore-hero__main {
    height: calc(30px + 15 * 100vw / 1920);
  }
}
.decore-hero__left {
  position: absolute;
  background: url("../img/hero/decore/Decoration-l.svg") no-repeat;
  background-size: cover;
  width: 480px;
  bottom: 0;
}
@media (min-width: 120rem) {
  .decore-hero__left {
    height: 45px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .decore-hero__left {
    height: calc(30px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .decore-hero__left {
    height: calc(30px + 15 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .decore-hero__left {
    left: 0px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .decore-hero__left {
    left: calc(-400px + 680 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .decore-hero__left {
    left: calc(-400px + 400 * 100vw / 1920);
  }
}
.decore-hero__right {
  position: absolute;
  background: url("../img/hero/decore/Decoration-r.svg") no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
}
@media (min-width: 120rem) {
  .decore-hero__right {
    height: 45px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .decore-hero__right {
    height: calc(30px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .decore-hero__right {
    height: calc(30px + 15 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .decore-hero__right {
    width: 480px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .decore-hero__right {
    width: calc(64px + 707.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .decore-hero__right {
    width: calc(64px + 416 * 100vw / 1920);
  }
}

@media (min-width: 120rem) {
  .services {
    padding-top: 120px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services {
    padding-top: calc(46px + 125.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services {
    padding-top: calc(46px + 74 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .services {
    padding-bottom: 64px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services {
    padding-bottom: calc(30px + 57.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services {
    padding-bottom: calc(30px + 34 * 100vw / 1920);
  }
}
.services__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 61.99875rem) {
  .services__cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.services__body {
  max-width: 36.25rem;
}
@media (min-width: 120rem) {
  .services__body {
    padding-top: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__body {
    padding-top: calc(10px + 153 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__body {
    padding-top: calc(10px + 90 * 100vw / 1920);
  }
}
@media (max-width: 61.99875rem) {
  .services__body {
    max-width: 100%;
  }
}
@media (min-width: 120rem) {
  .services__block-header {
    margin-bottom: 56px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__block-header {
    margin-bottom: calc(16px + 68 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__block-header {
    margin-bottom: calc(16px + 40 * 100vw / 1920);
  }
}
.services__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 120rem) {
  .services__items {
    margin-bottom: 56px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__items {
    margin-bottom: calc(24px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__items {
    margin-bottom: calc(24px + 32 * 100vw / 1920);
  }
}
@media (max-width: 29.99875rem) {
  .services__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services__item {
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  color: #1F3584;
  background: url("../img/services/services-check.svg") 0 0.4375rem no-repeat;
  padding-left: 1.75rem;
}
@media (min-width: 120rem) {
  .services__item {
    font-size: 20px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__item {
    font-size: calc(18px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__item {
    font-size: calc(18px + 2 * 100vw / 1920);
  }
}
.services__info {
  max-width: 28.75rem;
  padding: 0.75rem 2rem;
  background-color: #15B2F5;
  line-height: 1.4;
  color: #fff;
}
@media (min-width: 120rem) {
  .services__info {
    border-radius: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__info {
    border-radius: calc(12px + 20.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__info {
    border-radius: calc(12px + 12 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .services__info {
    font-size: 20px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .services__info {
    font-size: calc(17px + 5.1 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .services__info {
    font-size: calc(17px + 3 * 100vw / 1920);
  }
}
@media (max-width: 61.99875rem) {
  .services__info {
    max-width: 100%;
  }
}
.services__info a {
  white-space: nowrap;
  font-weight: 600;
  color: #fff;
  text-decoration-line: underline;
}
.services__image-up {
  display: none;
}
@media (max-width: 61.99875rem) {
  .services__image-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .services__image-up img {
    max-width: 100%;
  }
}

.services__image-doun {
  display: none;
}
@media (min-width: 61.99875rem) {
  .services__image-doun {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
  }
  .services__image-doun img {
    max-width: 100%;
  }
}

.block-header__text p {
  color: #545971;
  line-height: 1.55;
}

@media (min-width: 120rem) {
  .our-service {
    padding-top: 120px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .our-service {
    padding-top: calc(30px + 153 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .our-service {
    padding-top: calc(30px + 90 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .our-service {
    padding-bottom: 120px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .our-service {
    padding-bottom: calc(30px + 153 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .our-service {
    padding-bottom: calc(30px + 90 * 100vw / 1920);
  }
}
.our-service__block-header {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 120rem) {
  .our-service__block-header:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .our-service__block-header:not(:last-child) {
    margin-bottom: calc(30px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .our-service__block-header:not(:last-child) {
    margin-bottom: calc(30px + 30 * 100vw / 1920);
  }
}
.our-service__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
}
.item-our-service {
  border-radius: 1.5rem;
}
@media (min-width: 120rem) {
  .item-our-service {
    padding: 32px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .item-our-service {
    padding: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .item-our-service {
    padding: calc(16px + 16 * 100vw / 1920);
  }
}
@media (max-width: 29.99875rem) {
  .item-our-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.item-our-service__icon {
  background-color: #142257;
  width: 4rem;
  height: 4rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.item-our-service__title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #171921;
}
.item-our-service__text {
  line-height: 1.55;
}
.item-our-service--blue {
  background-color: #15B2F5;
  text-align: center;
  color: #fff;
}
.item-our-service--blue__title {
  color: #fff;
}
.item-our-service--blue__text {
  margin-bottom: 1.875rem;
}

.button--white {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #15B2F5;
}

.guarantee__guarantee-container {
  max-width: 120rem;
  margin: 1.25rem auto;
  border-radius: 1.5rem;
  background-color: #142257;
  position: relative;
  position: relative;
}
@media (min-width: 120rem) {
  .guarantee__guarantee-container {
    padding-top: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__guarantee-container {
    padding-top: calc(32px + 47.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__guarantee-container {
    padding-top: calc(32px + 28 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .guarantee__guarantee-container {
    padding-bottom: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__guarantee-container {
    padding-bottom: calc(32px + 47.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__guarantee-container {
    padding-bottom: calc(32px + 28 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .guarantee__guarantee-container {
    padding-left: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__guarantee-container {
    padding-left: calc(0px + 170 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__guarantee-container {
    padding-left: calc(0px + 100 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .guarantee__guarantee-container {
    padding-right: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__guarantee-container {
    padding-right: calc(0px + 170 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__guarantee-container {
    padding-right: calc(0px + 100 * 100vw / 1920);
  }
}
.guarantee__guarantee-container::before, .guarantee__guarantee-container::after {
  content: "";
  position: absolute;
  width: 2.8125rem;
  height: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.guarantee__guarantee-container::before {
  background: url("../img/guarantee/decoration/decoration_l.svg") center no-repeat;
  left: 0;
}
@media (max-width: 61.99875rem) {
  .guarantee__guarantee-container::before {
    display: none;
  }
}
.guarantee__guarantee-container::after {
  background: url("../img/guarantee/decoration/decoration_r.svg") center no-repeat;
  right: 0;
}
@media (max-width: 61.99875rem) {
  .guarantee__guarantee-container::after {
    display: none;
  }
}
.guarantee__container {
  padding: 0 2rem;
}
.guarantee__block-header {
  position: relative;
}
@media (min-width: 120rem) {
  .guarantee__block-header {
    padding-bottom: 120px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__block-header {
    padding-bottom: calc(60px + 102 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__block-header {
    padding-bottom: calc(60px + 60 * 100vw / 1920);
  }
}
.guarantee__block-header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(78, 101, 182, 0)), color-stop(50%, rgb(78, 101, 182)), to(rgba(78, 101, 182, 0)));
  background: linear-gradient(90deg, rgba(78, 101, 182, 0) 0%, rgb(78, 101, 182) 50%, rgba(78, 101, 182, 0) 100%);
}
@media (min-width: 120rem) {
  .guarantee__block-header::after {
    bottom: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__block-header::after {
    bottom: calc(30px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__block-header::after {
    bottom: calc(30px + 30 * 100vw / 1920);
  }
}
.guarantee__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 120rem) {
  .guarantee__items {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__items {
    -webkit-column-gap: calc(20px + 68 * (100vw - 320px) / 1920);
       -moz-column-gap: calc(20px + 68 * (100vw - 320px) / 1920);
            column-gap: calc(20px + 68 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__items {
    -webkit-column-gap: calc(20px + 40 * 100vw / 1920);
       -moz-column-gap: calc(20px + 40 * 100vw / 1920);
            column-gap: calc(20px + 40 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .guarantee__items {
    row-gap: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .guarantee__items {
    row-gap: calc(50px + 17 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .guarantee__items {
    row-gap: calc(50px + 10 * 100vw / 1920);
  }
}
@media (max-width: 61.99875rem) {
  .guarantee__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.block-header__text p {
  color: #9EA3B5;
}

.item-guarantee {
  max-width: 39.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.75rem;
}
@media (max-width: 61.99875rem) {
  .item-guarantee {
    margin: 0 auto;
  }
}
@media (max-width: 47.99875rem) {
  .item-guarantee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 47.99875rem) {
  .item-guarantee__body {
    text-align: center;
  }
}
.item-guarantee__title {
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
  padding-bottom: 0.75rem;
}
@media (min-width: 120rem) {
  .item-guarantee__title {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .item-guarantee__title {
    font-size: calc(18px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .item-guarantee__title {
    font-size: calc(18px + 6 * 100vw / 1920);
  }
}
.item-guarantee__text p {
  color: #9EA3B5;
}

@media (min-width: 120rem) {
  .how {
    padding-top: 156px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .how {
    padding-top: calc(32px + 210.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .how {
    padding-top: calc(32px + 124 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .how {
    padding-bottom: 156px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .how {
    padding-bottom: calc(32px + 210.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .how {
    padding-bottom: calc(32px + 124 * 100vw / 1920);
  }
}
.how__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 61.99875rem) {
  .how__container {
    grid-template-columns: auto;
    gap: 1.875rem;
  }
}
.how__image img {
  -webkit-transform: translate(-11%, 0);
      -ms-transform: translate(-11%, 0);
          transform: translate(-11%, 0);
  max-width: 100%;
}
@media (max-width: 61.99875rem) {
  .how__image img {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media (max-width: 61.99875rem) {
  .how__image {
    text-align: center;
  }
}
@media (min-width: 120rem) {
  .block-header:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .block-header:not(:last-child) {
    margin-bottom: calc(30px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .block-header:not(:last-child) {
    margin-bottom: calc(30px + 30 * 100vw / 1920);
  }
}
.how__block-header .block-header__title {
  max-width: 25rem;
  margin: 0;
}

.list-how {
  display: grid;
}
@media (min-width: 120rem) {
  .list-how {
    gap: 52px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .list-how {
    gap: calc(24px + 47.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .list-how {
    gap: calc(24px + 28 * 100vw / 1920);
  }
}
.list-how__item {
  display: grid;
  grid-template-columns: 14.375rem auto;
  gap: 2.25rem;
}
.list-how__item::before {
  font-weight: 700;
  line-height: 1.4;
  color: #9EA3B5;
}
@media (min-width: 120rem) {
  .list-how__item::before {
    font-size: 52px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .list-how__item::before {
    font-size: calc(30px + 37.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .list-how__item::before {
    font-size: calc(30px + 22 * 100vw / 1920);
  }
}
@media (max-width: 32.5rem) {
  .list-how__item {
    grid-template-columns: auto;
    gap: 0.75rem;
  }
}
.list-how__title {
  font-weight: 700;
  line-height: 1.33;
  color: #171921;
}
@media (min-width: 120rem) {
  .list-how__title {
    padding-left: 70px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .list-how__title {
    padding-left: calc(40px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .list-how__title {
    padding-left: calc(40px + 30 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .list-how__title {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .list-how__title {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .list-how__title {
    font-size: calc(20px + 4 * 100vw / 1920);
  }
}
@media (max-width: 32.5rem) {
  .list-how__title {
    max-width: 12.5rem;
  }
}
.list-how__text {
  line-height: 1.55;
}

@media (min-width: 120rem) {
  .reviews {
    padding-top: 130px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .reviews {
    padding-top: calc(32px + 166.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .reviews {
    padding-top: calc(32px + 98 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .reviews {
    padding-bottom: 130px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .reviews {
    padding-bottom: calc(32px + 166.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .reviews {
    padding-bottom: calc(32px + 98 * 100vw / 1920);
  }
}
.reviews__container {
  max-width: 72.5rem;
}
.reviews__cover-slider {
  position: relative;
}
@media (min-width: 120rem) {
  .reviews__cover-slider {
    margin-bottom: 66px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .reviews__cover-slider {
    margin-bottom: calc(16px + 85 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .reviews__cover-slider {
    margin-bottom: calc(16px + 50 * 100vw / 1920);
  }
}
.reviews__slider {
  margin: 0 4.5rem;
}
@media (max-width: 47.99875rem) {
  .reviews__slider {
    margin: 0;
  }
}
@media (min-width: 120rem) {
  .reviews__wrapper {
    padding-bottom: 40px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .reviews__wrapper {
    padding-bottom: calc(32px + 13.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .reviews__wrapper {
    padding-bottom: calc(32px + 8 * 100vw / 1920);
  }
}
.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.reviews__block-header .block-header__title {
  max-width: 40.625rem;
  margin: 0 auto;
}

.logo-reviews__cower {
  margin: 0 auto;
}
@media (min-width: 120rem) {
  .logo-reviews__cower {
    width: 207px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .logo-reviews__cower {
    width: calc(133px + 125.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .logo-reviews__cower {
    width: calc(133px + 74 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .logo-reviews__cower {
    height: 56px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .logo-reviews__cower {
    height: calc(36px + 34 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .logo-reviews__cower {
    height: calc(36px + 20 * 100vw / 1920);
  }
}
.logo-reviews__cower img {
  max-width: 100%;
}

.slide-reviews__logo {
  padding-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  position: relative;
}
@media (min-width: 120rem) {
  .slide-reviews__logo {
    padding-top: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__logo {
    padding-top: calc(0px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__logo {
    padding-top: calc(0px + 24 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .slide-reviews__logo {
    margin-bottom: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__logo {
    margin-bottom: calc(24px + 129.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__logo {
    margin-bottom: calc(24px + 76 * 100vw / 1920);
  }
}
.slide-reviews__logo::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(78, 101, 182, 0)), color-stop(50%, #9EA3B5), to(rgba(78, 101, 182, 0)));
  background: linear-gradient(90deg, rgba(78, 101, 182, 0) 0%, #9EA3B5 50%, rgba(78, 101, 182, 0) 100%);
}
.slide-reviews__text {
  max-width: 46.25rem;
  line-height: 1.6;
  text-align: center;
}
@media (min-width: 120rem) {
  .slide-reviews__text {
    font-size: 20px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__text {
    font-size: calc(18px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__text {
    font-size: calc(18px + 2 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .slide-reviews__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__text {
    margin-bottom: calc(24px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__text {
    margin-bottom: calc(24px + 16 * 100vw / 1920);
  }
}
.slide-reviews__text p:not(:last-child) {
  margin-bottom: 1rem;
}
.slide-reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}
@media (min-width: 120rem) {
  .slide-reviews__user {
    gap: 32px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__user {
    gap: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__user {
    gap: calc(16px + 16 * 100vw / 1920);
  }
}
.slide-reviews__avatar {
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 120rem) {
  .slide-reviews__avatar {
    width: 76px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__avatar {
    width: calc(52px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__avatar {
    width: calc(52px + 24 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .slide-reviews__avatar {
    height: 76px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__avatar {
    height: calc(52px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__avatar {
    height: calc(52px + 24 * 100vw / 1920);
  }
}
.slide-reviews__avatar img {
  max-width: 100%;
}
.slide-reviews__name {
  font-weight: 700;
  line-height: 1.33;
  color: #171921;
}
@media (min-width: 120rem) {
  .slide-reviews__name {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__name {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__name {
    font-size: calc(20px + 4 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .slide-reviews__name {
    bargin-bottom: 8px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .slide-reviews__name {
    bargin-bottom: calc(4px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .slide-reviews__name {
    bargin-bottom: calc(4px + 4 * 100vw / 1920);
  }
}
.slide-reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

@media (min-width: 120rem) {
  .rating__item {
    width: 36px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .rating__item {
    width: calc(24px + 20.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .rating__item {
    width: calc(24px + 12 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .rating__item {
    height: 36px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .rating__item {
    height: calc(24px + 20.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .rating__item {
    height: calc(24px + 12 * 100vw / 1920);
  }
}
.rating__item img {
  max-width: 100%;
}

.arrow-reviews.swiper-button-disabled {
  background-color: #E3E6F0;
}

.arrow-reviews {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #15B2F5 url("../img/reviews/arrow_left.svg") center no-repeat;
}
.arrow-reviews__button-prev {
  left: 0;
}
.arrow-reviews__button-next {
  right: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}
@media (max-width: 47.99875rem) {
  .arrow-reviews {
    display: none;
  }
}

.reviews-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #E3E6F0;
  cursor: pointer;
}

.reviews-pagination .swiper-pagination-bullet-active {
  background-color: #15B2F5;
  width: 2.5rem;
  border-radius: 1.5rem;
}

@media (min-width: 120rem) {
  .blog {
    padding-top: 84px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog {
    padding-top: calc(32px + 88.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog {
    padding-top: calc(32px + 52 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .blog {
    padding-bottom: 84px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog {
    padding-bottom: calc(32px + 88.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog {
    padding-bottom: calc(32px + 52 * 100vw / 1920);
  }
}
.blog__container {
  display: grid;
}
.blog__block-header {
  max-width: 43.75rem;
  margin: 0 auto;
}
@media (min-width: 120rem) {
  .blog__block-header:not(:last-child) {
    margin-bottom: 56px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__block-header:not(:last-child) {
    margin-bottom: calc(32px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__block-header:not(:last-child) {
    margin-bottom: calc(32px + 24 * 100vw / 1920);
  }
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}
@media (min-width: 120rem) {
  .blog__items {
    gap: 48px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__items {
    gap: calc(32px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__items {
    gap: calc(32px + 16 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .blog__items:not(:last-child) {
    margin-bottom: 56px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__items:not(:last-child) {
    margin-bottom: calc(24px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__items:not(:last-child) {
    margin-bottom: calc(24px + 32 * 100vw / 1920);
  }
}
@media (max-width: 29.99875rem) {
  .blog__items {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  }
}
.blog__view-more {
  justify-self: center;
  color: #15B2F5;
  font-weight: 700;
  line-height: 1.33;
  padding-right: 30px;
  background: url("../img/blog/arrow-right.svg") right 0.0625rem no-repeat;
}
@media (min-width: 120rem) {
  .blog__view-more {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__view-more {
    font-size: calc(18px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__view-more {
    font-size: calc(18px + 6 * 100vw / 1920);
  }
}
.blog__view-more:hover {
  text-decoration: underline;
}

@media (min-width: 120rem) {
  .blog__block-header .block-header__text {
    padding-left: 30px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__block-header .block-header__text {
    padding-left: calc(0px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__block-header .block-header__text {
    padding-left: calc(0px + 30 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .blog__block-header .block-header__text {
    padding-right: 30px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__block-header .block-header__text {
    padding-right: calc(0px + 51 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__block-header .block-header__text {
    padding-right: calc(0px + 30 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .blog__block-header .block-header__text {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .blog__block-header .block-header__text {
    font-size: calc(18px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .blog__block-header .block-header__text {
    font-size: calc(18px + 6 * 100vw / 1920);
  }
}

.item-blog__image {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-blog__image img {
  border-radius: 1.875rem;
  aspect-ratio: 448/300;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-blog__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item-blog__date {
  margin-bottom: 1rem;
}
.item-blog__title {
  color: #171921;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
}
@media (min-width: 120rem) {
  .item-blog__title {
    font-size: 32px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .item-blog__title {
    font-size: calc(20px + 20.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .item-blog__title {
    font-size: calc(20px + 12 * 100vw / 1920);
  }
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__text {
  margin-bottom: 1.5rem;
}
.item-blog__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
.item-blog__tag {
  background-color: #F3F5F9;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-blog__tag:hover {
  background-color: #15B2F5;
  color: #fff;
}

@media (min-width: 120rem) {
  .questions {
    padding-top: 190px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .questions {
    padding-top: calc(32px + 268.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .questions {
    padding-top: calc(32px + 158 * 100vw / 1920);
  }
}
@media (min-width: 120rem) {
  .questions {
    padding-bottom: 240px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .questions {
    padding-bottom: calc(32px + 353.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .questions {
    padding-bottom: calc(32px + 208 * 100vw / 1920);
  }
}
.questions__container {
  display: grid;
  grid-template-columns: auto 58%;
}
@media (max-width: 47.99875rem) {
  .questions__container {
    display: block;
    text-align: center;
  }
}
.questions__block-header.block-header {
  display: block;
}

.questions__block-header .block-header__title {
  margin-bottom: 24px;
}

.spollers {
  display: grid;
  gap: 0.75rem;
}

.spollers__item {
  border-radius: 0.75rem;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 29.99875rem) {
  .spollers__item {
    padding: 1rem 1rem;
  }
}

.spollers__item._spoller-item-active {
  background-color: #f3f5f9;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 0rem 2.5rem 0rem 0rem;
  position: relative;
  font-weight: 700;
  color: #545971;
  font-family: inherit;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 120rem) {
  .spollers__title {
    font-size: 24px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .spollers__title {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .spollers__title {
    font-size: calc(20px + 4 * 100vw / 1920);
  }
}
._spoller-init .spollers__title {
  cursor: pointer;
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0rem;
  top: 50%;
  background-color: #1F3584;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1rem 0rem 0rem 0rem;
  font-size: 1rem;
  line-height: 1.5;
}