// Обнуление ==============================================================================
@import 'nullstile.scss';
// ========================================================================================



// Общие стили ============================================================================
@import 'comon.scss';
// ========================================================================================



// Функции ================================================================================
// Определение функции toRem
@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 18px;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1 rem;
}
// ========================================================================================



// Шрифты =================================================================================
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');
// ========================================================================================
// Шрифты по умолчанию ====================================================================
$fontFamily: 'Plus Jakarta Sans',sans-serif;
$fontSize: toRem(18); //  где (16 px) розмер шрифта по умолчанию с макета
// ========================================================================================



// Переменные =============================================================================
$mainColor: #545971; // цвет шрифта по умолчанию
// ========================================================================================



// Настройки адаптивной сетки =============================================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: toRem(1440px); // Ширина ограничивающего контейнера
$containerPadding: toRem(30px); // Отступ от контейнера по 15 слева и справа
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брекпоинта
// Брейк-поинты------------------------------------------------------------------------------
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
// ========================================================================================



// Миксины ================================================================================

// ========================================================================================



// Общие блоки ============================================================================
body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $mainColor;
}
// ========================================================================================



