// Обнуление ==============================================================================
@import '_nullstyle.scss';
// ========================================================================================



// Общие стили ============================================================================

// ========================================================================================



// Функции ================================================================================
// Определение функции toRem
@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 16;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1rem;
}

// ========================================================================================



// Шрифты =================================================================================
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');
// ========================================================================================
// Шрифты по умолчанию ====================================================================
$fontFamily: 'Plus Jakarta Sans';
// $fontSize: toRem(18); 
//  где (16 px) розмер шрифта по умолчанию с макета
// ========================================================================================



// Переменные =============================================================================
$mainColor: #545971; // цвет шрифта по умолчанию
$darckColor: #171921;
$bgColor: #142257;
$greyColor: #9EA3B5;
$bgColorSemi: #1F3584;
$bgColorLite: #15B2F5;
// ========================================================================================



// Настройки адаптивной сетки =============================================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: toRem(1440); // Ширина ограничивающего контейнера
$containerPadding: toRem(30); // Отступ от контейнера по 15 слева и справа
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брекпоинта
// Брейк-поинты------------------------------------------------------------------------------
// $pc: em($containerWidth);
$pc: $containerWidth;
// $tablet: em(991.98);
$tablet: toRem(991.98);
// $mobile: em(767.98);
$mobile: toRem(767.98);
// $mobileSmall: em(479.98);
$mobileSmall: toRem(479.98);
// ========================================================================================



// Миксины ================================================================================
// adaptiveValue = ($property-css стиль, $pcSize-максимальный параметр, $mobSize-минимальный параметр)


@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

@media (min-width: toRem(1920)) {
	#{$property}: #{$pcSize + px};
}
@media (max-width: toRem(1920)) {
	@media (max-width: 767px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
		}
	
		@media (min-width: 767px) {
			#{$property}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
		}
}
}

// ========================================================================================



// ========================================================================================
// Обобщенные блоки заголовки и т.д. ======================================================

// Класс ibg--------------------------------------------------------
// .ibg {
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	position: relative;

// 	img {
// 		display: none;
// 	}
// }
// Класс ibg--------------------------------------------------------

// Счетчик для списка-----------------------------------------------
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item) ".";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// вызов в классе  ---  @extend %listCounter;
// Счетчик для списка-----------------------------------------------


.block-header {
	display: grid;
	gap: toRem(24);
	// @include adaptiveValue("margin-bottom", 56, 16);

	// .block-header--center
	&--center {
		text-align: center;
	}
	// .block-header--inline
	&--inline {
		grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
		justify-content: space-between;
		align-items: end;
		gap: toRem(24);
				@media (max-width: $tablet) {
					// display: block;
					// text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
				}
	}
	// .block-header__title
	&__title {
		color: $darckColor;
		@include adaptiveValue("font-size", 52, 24);
		font-weight: 700;
		line-height: 1.2;
		@media (max-width: $tablet) {
			// &:not(:last-child) {margin-bottom: toRem(24);}
		}
	}

	// .block-header__title--big
	&__title--big {
			@include adaptiveValue("font-size", 64, 32);
			font-weight: 800;
	}
	
	// .block-header__title--white
	&__title--white {
		color: #fff;
	}

	// .block-header__text
	&__text {
		p{
			line-height: 1.55;
		}
	}
	&__info {
		p {
			@include adaptiveValue("font-size", 20, 18);
			line-height: 1.55;
		}
		a {
			@include adaptiveValue("font-size", 24, 18);
			font-weight: 700;
			color: $bgColorLite;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(32);
		}
	}
}

// button----------------
.button {
	padding: toRem(7);
	border-radius: toRem(60);
	font-size: toRem(24);
	font-weight: 700;
	line-height: 1.33;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $bgColorSemi;
		color: #fff;
	}
}

.button--call {
	background-color: $bgColorLite;
	color: #fff;
	display: inline-flex;
	align-items: center;
	border: toRem(1) solid $bgColorLite;

	&:hover {
		box-sizing: border-box;
		background-color: $bgColorSemi;
	}

	span:nth-child(1) {
		padding: toRem(8) toRem(16);
	}

	span:last-child {
		background: url("../img/icons/Icon-phone.svg") left no-repeat;
		background-color: #fff;
		width: toRem(48);
		height: toRem(48);
		border-radius: 50%;
	}
}

.button--white {
	background-color: #fff;
	display: block;
	width: 100%;
	padding: toRem(16) 0;
	font-size: toRem(24);
	font-weight: 700;
	line-height: 1.33;
	color: $bgColorLite;
}
// ========================================================================================
// ========================================================================================



// Общие блоки ============================================================================
body {
	font-family: $fontFamily;
	@include adaptiveValue("font-size",18 ,16);
	color: $mainColor;
}
.wrapper {

}
[class*=__container] {
	// max-width: calc(toRem(1920) - toRem(480) + toRem(30));
	max-width: toRem(1470);
	margin: 0 auto;
	padding: 0 toRem(15);
}
// ========================================================================================


// ========================================================================================
// HEADER==================================================================================
.header {
	background-color: $bgColor;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 50;
	// .header__container
	&__header-container{
		max-width: calc(toRem(1920) - toRem(320));
		margin: 0 auto;
		padding: 0 toRem(15);
		min-height: toRem(80);
		display: grid;
		grid-template-columns: toRem(170) 1fr toRem(170);
		align-items: center;
		gap: toRem(15);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		@media (max-width: $mobile) {
			min-height: toRem(55);
			grid-template-columns: auto auto;
			justify-content: space-between;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;
	}

	// .header__menu
	&__menu {}


&__schedule {
	justify-self: end;
	color: #fff;
	font-weight: 700;
	line-height: 1.33;
	display: flex;
	align-items: center;
	gap: toRem(10);	
	&::before {
		content: "";
		background-color: #FF5E5E;
		border-radius: 50%;
		width: toRem(12);
		height: toRem(12);
		flex: 0 0 toRem(12);
	}
}
@media (max-width: $mobile) {
	&__schedule-old {
		display: none;
	}
}
	&__schedule-new {
		display: flex;
		justify-content: center;
		padding: toRem(30) toRem(15) toRem(30) toRem(15);
	@media (min-width: $mobile) {
		display: none;
	}
	}

}
.menu {
	justify-self: center;
	// .menu__burger
	&__burger {}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			padding: toRem(100) toRem(15) toRem(30) toRem(15);
			overflow: auto;
			display: flex;
			flex-direction: column;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;	
			left: 100%;
			background-color: $bgColorSemi;
			opacity: 0.96;
			transition: all 0.3s ease 0s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(55);
				top: 0;
				left: 100%;
				z-index: 2;
				background-color: $bgColor;
			}
			&.menu-open {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}


	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: toRem(3);
		@include adaptiveValue("column-gap", 57, 5);
		@media (max-width: $mobile) {
			// padding: toRem(120) toRem(15) toRem(30) toRem(15);
			font-size: toRem(28);
			flex-direction: column;
			align-items:center;
			row-gap: toRem(30);
			flex: 1 1 auto;
			justify-content: start;
		}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		color: #fff;
		font-weight: 700;
		line-height: 1.33;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header nav a.active{
	color: $bgColorLite;
	// transition: all 0.3s ease 0s;
}

.burger-menu {
	display: none;
	@media (max-width: $mobile) { 
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		&.menu-open {
			span {
				transform: scale(0);
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
// HEADER==================================================================================
// ========================================================================================





// ========================================================================================
// MAIN====================================================================================
.page {}


// ========================================================================================
// HERO====================================================================================

.hero {
	background-color: $bgColor;
	width: 100%;
			
	// .hero__hero-container
	&__hero-container {
		// border: 1px solid #fff;
		max-width: toRem(1920);
		padding: toRem(80) toRem(15) toRem(10) toRem(15);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@media (max-width: toRem(767.98)) {
			padding: toRem(50) toRem(15) toRem(10) toRem(15);
		}	
	}

// -------------------------------------------------------------
	// .hero__image
	&__image {
		// width: 21.8%;
		width: 21.8%;
		// flex: 1 1 21.8;
		// width: 100%;
		// height: auto;
		// display: block;
		// @include adaptiveValue("width", 412, 300);
		// aspect-ratio: 1 / 2;
		position: relative;
		// background: url("../img/hero/hero-left.jpg")left no-repeat;
		& img{
			border-radius: 24px;
			overflow: hidden;
			max-width: 100%;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
				// .hero__image_left // тень на картикку
				&_left {
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						min-height: 100%;
						top: 0;
						right: 0px;
						background: url("../img/hero/Shadow-left.svg")0 0/cover no-repeat;
					}
				}
		
				// .hero__image_right // тень на картикку
				&_right {
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: url("../img/hero/Shadow-right.svg") no-repeat;
						background-size: cover;
					}
				}
				@media (max-width: toRem(991.98)) {
					display: none;
				}
	}
// -------------------------------------------------------------



	
	// .hero__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding-top", 160, 24);
		@include adaptiveValue("padding-left", 40, 10);
		@include adaptiveValue("padding-right", 40, 10);
	}

	// .hero__content
	&__content {
		@include adaptiveValue("padding-bottom", 150, 50);
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .hero__items
	&__items {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 14);
		}
	}

	// .hero__block-header
	&__block-header {
		max-width: toRem(670);
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
}

.items-hero {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: toRem(52);
	row-gap: toRem(16);
	@media (max-width: toRem(600)) {
		flex-direction: column;
	}
	// .items-hero__item
	&__item {
		font-size: toRem(20);
		font-weight: 700;
		line-height: 1.4;
		color: $greyColor;
		position: relative;
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				top: calc(50% - toRem(2));
				right: toRem(-28.5);
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				background-color: #9EA3B5;
				@media (max-width: toRem(600)) {
					top: toRem(37);
					right: 50%;
					transform: translate(50%, 0);

				}
			}
		}
	}
}

.done {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: toRem(40);
	row-gap: toRem(8);
	margin-bottom: toRem(48);
	// .done__item
	&__item {
		font-size: 20px;
		line-height: 1.5;
		color: $bgColorLite;
		background: url("../img/icons/ok-check.svg") left toRem(4) no-repeat;
		padding-left: toRem(32);
	}
}

.advantages-hero {
	padding-bottom: toRem(30);
	display: grid;
	grid-template-columns: repeat(4, auto);
	@include adaptiveValue("column-gap", 60, 50);
	row-gap: toRem(40);
	position: relative;

	@media (max-width: toRem(1920)) {
		grid-template-columns: repeat(2, auto);
		justify-content: center;
	}

	@media (max-width: toRem(991.98)) {
		&::after {
			content: "";
			position: absolute;
			background: url("../img/hero/advantages-hero-decore/decore.svg") no-repeat;
			width: toRem(280);
			height: toRem(220);
			bottom: 50%;
			left: 50%;
			transform: translate(-50%, 43%);
		}
	}
	
	&__item {
		// flex: 1 1 25%;
		display: flex;
		align-items: center;
		column-gap: toRem(16);
		row-gap: toRem(8);
		position: relative;
		@media (min-width: toRem(1920)) {
			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					@include adaptiveValue("right", -30, -20);
					height: 100%;
					// right: 0;
					top: 0;
					width: toRem(1);
					background: linear-gradient(0deg, rgba(79, 102, 183, 0) 0%, rgba(79, 102, 183, 1) 50%, rgba(79, 102, 183, 0) 100%);
				}
			}
		}
		@media (max-width: toRem(991.98)) {
			flex-direction: column;	
		}
		@media (max-width: toRem(767.98)) {
			max-width: 120px;
		}
	}

	// .advantages-hero__icon
	&__icon {
		border-radius: 50%;
		min-width: toRem(48);
		min-height: toRem(48);
		background-color: $bgColorSemi;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}

	// .advantages-hero__text
	&__text {
	font-weight: 600;
	line-height: 1.33;
	color: #fff;
	text-align: center;
	@media (min-width: toRem(1920)) {
		flex: 1 1 auto;
		text-align: start;
	}
	}
}

.decore-hero {
background-color: #fff;

	// .decore-hero__main
	&__main {
			max-width: toRem(1920);
				margin: 0 auto;
				@include adaptiveValue("height", 45, 30);
				background-color: $bgColor;
				position: relative	
	}

	// .decore-hero__left
	&__left {
		@include adaptiveValue("height", 45, 30);
		position: absolute;
		background: url("../img/hero/decore/Decoration-l.svg") no-repeat;
		background-size: cover;
		width: 480px;
		bottom: 0;
		@include adaptiveValue("left", 0, -400);
	}

	// .decore-hero__right
	&__right {
		@include adaptiveValue("height", 45, 30);
		position: absolute;
		background: url("../img/hero/decore/Decoration-r.svg") no-repeat;
		background-size: cover;
		@include adaptiveValue("width", 480, 64);
		bottom: 0;
		right: 0;		
	}
}

// HERO====================================================================================
// ========================================================================================



// ========================================================================================
// SERVICES================================================================================
.services {
	// background-color: #da4343;
		@include adaptiveValue("padding-top", 120, 46);
		@include adaptiveValue("padding-bottom", 64, 30);
	// .services__container
	&__container {}

	// .services__cover
	&__cover {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

	}

	// .services__body
	&__body {
		@include adaptiveValue("padding-top", 100, 10);
		// flex: 1 1 50%;
		max-width: toRem(580);
		@media (max-width: $tablet) {
			max-width: 100%;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// text-align: center;
		}
	}

	// .services__block-header
	&__block-header {
		@include adaptiveValue("margin-bottom", 56, 16);

	}
	.services__block-header .block-header__text {
		p {
			color: $mainColor;
			line-height: 1.55;
		
		}
	}
	// .services__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(32);
		@include adaptiveValue("margin-bottom", 56, 24);
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .services__item
	&__item {
		@include adaptiveValue("font-size", 20, 18);
		font-style: normal;
		font-weight: 700;
		line-height: 1.4;
		color: $bgColorSemi;
		background: url("../img/services/services-check.svg") 0 toRem(7) no-repeat;
		padding-left: toRem(28);
	}

	// .services__info
	&__info {
		max-width: toRem(460);
		padding: toRem(12) toRem(32);
		background-color: $bgColorLite;
		@include adaptiveValue("border-radius", 24, 12);
		@include adaptiveValue("font-size", 20, 17);
		line-height: 1.4;
		color: #fff;
		@media (max-width: $tablet) {
			max-width: 100%;
		}
		a {
			white-space: nowrap;
			font-weight: 600;
			color: #fff;
			text-decoration-line: underline;
		}

	}

	//.services__image
	&__image {}	
}
.services__image-up {
	display: none;
	@media (max-width: toRem(991.98)) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		& img {
			max-width: 100%;
		}
	}
}
.services__image-doun {
	display: none;	
	@media (min-width: toRem(991.98)) {
		display: flex;
		align-items: center;
		justify-content: end;
		width: 100%;
		& img {
			max-width: 100%;
		}
	}
}

// SERVICES================================================================================
// ========================================================================================



// ========================================================================================
// OUR_SERVICE=============================================================================
.our-service {

	// .our-service__container
	&__container {}
		@include adaptiveValue("padding-top", 120, 30);
		@include adaptiveValue("padding-bottom", 120, 30);

	// .our-service__block-header
	&__block-header {
		max-width: toRem(560);
		margin-left: auto;
		margin-right: auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}

	// .our-service__items
	&__items {
		display: grid;
		// grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		// @include adaptiveValue("row-gap", 0, 30);
	}

	// .our-service__item
	&__item {
		
	}
}

.item-our-service {
	border-radius: toRem(24);
	// border: 1px solid #000;
	@include adaptiveValue("padding", 32, 16);
	// @include adaptiveValue("padding", 32, 0);
	// .item-our-service__icon
	@media (max-width: $mobileSmall) {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__icon {
		background-color: $bgColor;
		width: toRem(64);
		height: toRem(64);
		border-radius: toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: toRem(16);
	}

	// .item-our-service__title
	&__title {
		margin-bottom: toRem(12);
		font-size: toRem(24);
		font-weight: 700;
		line-height: 1.33;
		color: $darckColor;
	}

	// .item-our-service__text
	&__text {
		line-height: 1.55;
	}

	// .item-our-service__button
	&__button {}
}

.item-our-service--blue {
	background-color: $bgColorLite;
	text-align: center;
	color: #fff;
	&__title {
		color: #fff;
	}
	&__text {
		margin-bottom: toRem(30);
	}
}


// OUR_SERVICE=============================================================================
// ========================================================================================



// ========================================================================================
// GUARANTEE===============================================================================

.guarantee {
	// @include adaptiveValue("padding-left", 60, 15);
	// @include adaptiveValue("padding-right", 60, 15);

	// .guarantee__guarantee-container
	&__guarantee-container {
		max-width: toRem(1920);
		margin: toRem(20) auto;
		border-radius: toRem(24);
		@include adaptiveValue("padding-top", 60, 32);
		@include adaptiveValue("padding-bottom", 60, 32);
		@include adaptiveValue("padding-left", 100, 0);
		@include adaptiveValue("padding-right", 100, 0);
		background-color: $bgColor;
		position: relative;
		&::before, &::after {
			content: "";
			position: absolute;
			width: toRem(45);
			height: 100%;
			top: 50%;
			transform: translate(0, -50%);
		}
		&::before {
			background: url("../img/guarantee/decoration/decoration_l.svg") center no-repeat;
			left: 0;
			@media (max-width: $tablet) {
				display: none;
			}
		}
		&::after  {
			background: url("../img/guarantee/decoration/decoration_r.svg") center no-repeat;
			right: 0;
			@media (max-width: $tablet) {
			display: none;
			}
		}
	}
	// .guarantee__container
	&__container {                                     
		padding: 0 toRem(32);
	}

	// .guarantee__block-header
	&__block-header {
		position: relative;
		@include adaptiveValue("padding-bottom", 120, 60);
		
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("bottom", 60, 30);
			left: 0;
			width: 100%;
			height: toRem(1);
			// background: rgb(78, 101, 182);
			background: linear-gradient(90deg, rgba(78, 101, 182, 0) 0%, rgba(78, 101, 182, 1) 50%, rgba(78, 101, 182, 0) 100%);
		}
	}
		.guarantee__block-header .block-header__text {
			p {
				color: $greyColor;
			}
		}
	// .guarantee__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("column-gap", 60, 20);
		@include adaptiveValue("row-gap", 60, 50);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .guarantee__item
	&__item {}
}

.item-guarantee {
	max-width: toRem(630);
	display: flex;
	column-gap: toRem(32);
	row-gap: toRem(12);
	@media (max-width: $tablet) {
		margin: 0 auto;
	}
	@media (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
	}

	// .item-guarantee__icon
	&__icon {}

	// .item-guarantee__body
	&__body {
		@media (max-width: $mobile) {
			text-align: center;
		}


	}

	// .item-guarantee__title
	&__title {
		@include adaptiveValue("font-size", 24, 18);
			font-weight: 700;
			line-height: 1.33;
			color: #fff;
		 	padding-bottom: toRem(12);
	}

	// .item-guarantee__text
	&__text {
		& p {
			color: $greyColor;
		}
	}
}
// GUARANTEE===============================================================================
// ========================================================================================



// ========================================================================================
// HOW=====================================================================================
.how {
	@include adaptiveValue("padding-top", 130, 32);
	@include adaptiveValue("padding-bottom", 130, 32);

	// .how__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
			gap: toRem(30);
		}
	}

	// .how__image
	&__image {
		// transform: translate(-11%, 0);
		img {
			transform: translate(-11%, 0);
			max-width: 100%;
			@media (max-width: $tablet) {
				transform: translate(0, 0);
			}
		}
		@media (max-width: $tablet) {
			text-align: center;
		}
	}

	// .how__content
	&__content {}

	// .how__block-header
	&__block-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}

	// .how__list
	&__list {}
}

.how__block-header .block-header__title {
	max-width: toRem(400);
	margin: 0;
}

.list-how {
	display: grid;
	@include adaptiveValue("gap", 52, 24);
	@extend %listCounter;

	// .list-how__item
	&__item {
		display: grid;
		grid-template-columns: toRem(230) auto;
		gap: toRem(36);
		&::before {
			@include adaptiveValue("font-size", 52, 30);
			font-weight: 700;
			line-height: 1.4;
			color: $greyColor;
		}
		@media (max-width: toRem(520)) {
			grid-template-columns: auto;
			gap: toRem(12);
		}

	}

	// .list-how__title
	&__title {
	@include adaptiveValue("padding-left", 70, 40);
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 700;
		line-height: 1.33;
		color: $darckColor;
		@media (max-width: toRem(520)) {
			max-width: toRem(200);
		}
	}

	// .list-how__text
	&__text {
		line-height: 1.55; 
	}
}
// HOW=====================================================================================
// ========================================================================================



// ========================================================================================
// REVIEWS=================================================================================

.reviews {
	@include adaptiveValue("padding-top", 130, 32);
	@include adaptiveValue("padding-bottom", 130, 32);

	// .reviews__container
	&__container {
		// @include adaptiveValue("padding-left", 155, 0);
		// @include adaptiveValue("padding-right", 155, 0);
		max-width: toRem(1160);
		// background-color: #fcb1b1;
	}

	// .reviews__block-header
	&__block-header {
		@include adaptiveValue("margin-bottom", 66, 32);
	}

	// .reviews__cover-slider
	&__cover-slider {
		position: relative;
		@include adaptiveValue("margin-bottom", 66, 16);
	}

	// .reviews__slider
	&__slider {
		margin: 0 toRem(72);
		@media (max-width: $mobile) {
			margin: 0;
		}
	}

	// .reviews__wrapper
	&__wrapper {
		@include adaptiveValue("padding-bottom", 40, 32);
	}

	// .reviews__slide
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 0;
	}
}

.reviews__block-header .block-header__title {
	max-width: toRem(650);
	margin: 0 auto;
}
.logo-reviews {

	// .logo-reviews__cower
	&__cower {
		margin: 0 auto;
		@include adaptiveValue("width", 207, 133);
		@include adaptiveValue("height", 56, 36);
		& img {
			max-width: 100%;
		}
	}
}

.slide-reviews {

	// .slide-reviews__logo
	&__logo {
		@include adaptiveValue("padding-top", 24, 0);
		padding-bottom: toRem(24);
		@include adaptiveValue("margin-bottom", 100, 24);
		width: 100%;
		text-align: center;
		position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				height: toRem(1);
				background: linear-gradient(90deg, rgba(78, 101, 182, 0) 0%, $greyColor 50%, rgba(78, 101, 182, 0) 100%);
				}	
	}

	// .slide-reviews__text
	&__text {
		max-width: toRem(740);
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.6;
		text-align: center;
		// color: $mainColor;
		@include adaptiveValue("margin-bottom", 40, 24);
		p {
			&:not(:last-child) {
				margin-bottom: toRem(16);
			}
		}
	}

	// .slide-reviews__user
	&__user {
		display: flex;
		min-width: 0;
		@include adaptiveValue("gap", 32, 16);
	}

	// .slide-reviews__avatar
	&__avatar {
		@include adaptiveValue("width", 76, 52);
		@include adaptiveValue("height", 76, 52);
		border-radius: 50%;
		overflow: hidden;
		& img {
			max-width: 100%;
		}
	}

	// .slide-reviews__body
	&__body {}

	// .slide-reviews__name
	&__name {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 700;
		line-height: 1.33;
		color: $darckColor;	
		@include adaptiveValue("bargin-bottom", 8, 4);
	}

	// .slide-reviews__rating
	&__rating {
		display: flex;
		min-width: 0;
	}
}

.rating {

	// .rating__item
	&__item {
		@include adaptiveValue("width", 36, 24);
		@include adaptiveValue("height", 36, 24);
		& img {
			max-width: 100%;
		}
	}
}

// навигация
.arrow-reviews.swiper-button-disabled {
	background-color: #E3E6F0;
}
.arrow-reviews {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: toRem(48);
	height: toRem(48);
	border-radius: 50%;
	background: $bgColorLite url("../img/reviews/arrow_left.svg") center no-repeat;
	&__button-prev {
		left: 0;
	}
	&__button-next {
		right: 0;
		transform: translate(0, -50%) rotate(180deg);
	}
	@media (max-width: $mobile) {
		display: none;
	}
}

// точки
.reviews-pagination {
	// text-align: center;
	display: flex;
	justify-content: center;
	column-gap: toRem(4);
	flex-wrap: wrap;
}
.reviews-pagination .swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background-color: #E3E6F0;
		cursor: pointer;
}
.reviews-pagination .swiper-pagination-bullet-active {
	background-color: $bgColorLite;
	width: toRem(40);
	border-radius: toRem(24);
}
// REVIEWS=================================================================================
// ========================================================================================




// ========================================================================================
// BLOG====================================================================================
.blog {
	// background-color: #4b3535;
		@include adaptiveValue("padding-top", 84, 32);
		@include adaptiveValue("padding-bottom", 84, 32);
	// .blog__container
	&__container {
		display: grid;
	}

	// .blog__block-header
	&__block-header {
		max-width: toRem(700);
		margin: 0 auto;
		// gap: 0;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 32);
		}
	}

	// .blog__items
	&__items {
		display: grid;
		@include adaptiveValue("gap", 48, 32);
		grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 24);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		}
	}

	// .blog__item
	&__item {}

	// .blog__view-more
	&__view-more {
		justify-self: center;
		color: $bgColorLite;
		@include adaptiveValue("font-size", 24, 18);
		font-weight: 700;
		line-height: 1.33;
		padding-right: 30px;
		background: url("../img/blog/arrow-right.svg") right toRem(1) no-repeat;
		&:hover {
			text-decoration: underline;
		}
	}
}
.blog__block-header .block-header__text {
	// padding: 0 toRem(100);
	@include adaptiveValue("padding-left", 30, 0);
	@include adaptiveValue("padding-right", 30, 0);
	@include adaptiveValue("font-size", 24, 18);
}


.item-blog {

	// .item-blog__image
	&__image {
		display: block;
		width: 100%;
		& img {
			border-radius: toRem(30);
			aspect-ratio: 448 / 300;
			width: 100%;
			object-fit: cover;
			// margin-bottom: toRem(24);
		}
		margin-bottom: toRem(24);
		transition: all 0.3s ease 0s;
		&:hover {
			transform: scale(1.1);
		}
	}

	// .item-blog__date
	&__date {
		margin-bottom: toRem(16);
	}

	// .item-blog__title
	&__title {
		@include adaptiveValue("font-size", 32, 20);
		margin-bottom: toRem(16);
		&:hover {
			text-decoration: underline;
		}
	}

	// .item-blog__link-title
	&__link-title {
		color: $darckColor;
		font-weight: 700;
		line-height: 1.25;
	}

	// .item-blog__text
	&__text {
		margin-bottom: toRem(24);
	}

	// .item-blog__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
		// justify-content: center;
	}

	// .item-blog__tag
	&__tag {
		color: $mainColor;
		background-color: #F3F5F9;
		padding: toRem(8) toRem(16);
		border-radius: toRem(18);
		font-size: toRem(14);
		font-weight: 600;
		line-height: 1.4;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: $bgColorLite;
			color: #fff;
		}
	}
}
// BLOG====================================================================================
// ========================================================================================

// ========================================================================================
// QUESTIONS===============================================================================

.questions {
	@include adaptiveValue("padding-top", 190, 32);
	@include adaptiveValue("padding-bottom", 240, 32);
	// .questions__container
	&__container {
		display: grid;
		grid-template-columns: auto 58%;
		@media (max-width: $mobile) {
			display: block;
			text-align: center;
		}
	}

	// .questions__block-header
	&__block-header {}

	// .questions__spollers
	&__spollers {}
}
.questions__block-header.block-header {
	display: block;
}
.questions__block-header .block-header__title {
	margin-bottom: 24px;
}

// SPOLLERS================================================================================

// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: toRem(12);
}

// Спойлер
.spollers__item {
	border-radius: toRem(12);
	overflow: hidden;
	padding: toRem(24) toRem(32) toRem(24) toRem(32);
	transition: all 0.5s ease;
	@media (max-width: $mobileSmall) {
			padding: toRem(16) toRem(16);
	}
}

.spollers__item._spoller-item-active {
	background-color: #f3f5f9;
	transition: all 0.5s ease;
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	padding: toRem(0) toRem(40) toRem(0) toRem(0);
	position: relative;
	@include adaptiveValue("font-size", 24, 20);
	font-weight: 700;
	color: $mainColor;
	font-family: inherit;
	background-color: transparent;
	transition: all 0.5s ease;

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: toRem(0);
			top: 50%;
			background-color: $bgColorSemi;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: toRem(16) toRem(0) toRem(0) toRem(0);
	font-size: toRem(16);
	line-height: 1.5;
}

// SPOLLERS================================================================================

// QUESTIONS===============================================================================
// ========================================================================================



// ========================================================================================
// TALK====================================================================================
.talk {
	background-color: $bgColor;
	position: relative;

	// .talk__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("gap", 100, 32);
		@media (max-width: $tablet) {
			display: block;
		}
	}

	// .talk__content
	&__content {
		@include adaptiveValue("padding-top", 165, 56);
		@include adaptiveValue("padding-bottom", 100, 32);
		position: relative;
		&::before {
			content: "";
			background: url("../img/talk/decore.svg") 0 0 / 83% no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			aspect-ratio: 581 / 44;
			@media (max-width: $tablet) {
				background-position: center 0;
			}
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}

	// .talk__block-header
	&__block-header {
		margin-bottom: toRem(24);
		.block-header__title{
			@media (max-width: $tablet) {
				text-align: center;
			}
		}
	}

	// .talk__done
	&__done {
		justify-content: start;
		@include adaptiveValue("margin-bottom", 36, 24);
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}

	// .talk__button
	&__button {
		@media (max-width: $tablet) {	
			margin: 0 auto;
		}
	}

	// .talk__footer
	&__footer {
		@media (min-width: $tablet) {
			position: absolute;
				bottom: 0;
				width: 100%;
				left: 50%;
				transform: translate(-50%, 0);
				display: flex;
				overflow: hidden;
		}
			@media (max-width: $tablet) {
			}
	}

	// .talk__img-null
	&__img-null {
		flex: 0 1 50%;
			width: 100%;
		@media (min-width: $mobileSmall) {
			& img {
				display: none;

			}
		}
		& img {
			width: 100%;
			// object-fit: cover;
		}
	}

	// .talk__image
	&__image {
		flex: 0 1 50%;
		width: 100%;
		& img {
			max-width: 100%;
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
	}
}

// TALK====================================================================================
// ========================================================================================
// MAIN====================================================================================
// ========================================================================================


// ========================================================================================
// FOOTER==================================================================================

	.footer {
		background-color: $bgColorLite;
		color: #fff;
		// .footer__container
		&__container {
		}
		// .footer__content
		&__content {
			@include adaptiveValue("padding-top", 52, 32);
			@include adaptiveValue("padding-bottom", 74, 32);
		}
		// .footer__subscribe
		&__subscribe {

		}
		// .footer__body
		&__body {
			display: flex;
			justify-content: space-between;
			gap: toRem(48);
			@media (max-width: $mobile) {
				flex-direction: column;
			}
		}
		// .footer__info
		&__info {
			max-width: toRem(460);
		}
		// .footer__logo
		&__logo {
			margin-bottom: toRem(32);
		}
		// .footer__text
		&__text {
			margin-bottom: toRem(32);
			line-height: 1.55;
		}
		// .footer__social
		&__social {
			display: flex;
			gap: toRem(24);
		}
		// .footer__menu
		&__menu {
		}
		// .footer__bottom
		&__bottom {
			@include adaptiveValue("padding-top", 32, 16);
			@include adaptiveValue("padding-bottom", 32, 16);
			border-top: toRem(1) solid rgba(255, 255, 255, 0.30);
			text-align: center;
		}

}
.subscribe {
	@include adaptiveValue("margin-bottom", 52, 32);
	padding: toRem(24);
	background-color: #4AC9FF;
	border-radius: toRem(24);
	display: grid;
	grid-template-columns: auto toRem(516);
	gap: toRem(24);
	@media (max-width: toRem(1100)) {
		text-align: center;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(12);
	}

		// .subscribe__body
		&__body {
		}
		// .subscribe__title
		&__title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.33;
			margin-bottom: toRem(12);
		}
		// .subscribe__text
		&__text {
			line-height: 1.55;
		}
		// .subscribe__form
		&__form {
			padding: toRem(12);
			background-color: #fff;
			border-radius: toRem(60);
			display: flex;
			max-height: toRem(76);
			@media (max-width: toRem(1100)) {
				// @include adaptiveValue("width", 550, 600);
				width: toRem(516);
				justify-self: center;				
			}
			@media (max-width: $mobile) {
				width: 100%;
			}
			@media (max-width: $mobileSmall) {
				flex-direction: column;
				max-height: 300px;
				gap: toRem(12);
				border-radius: toRem(30);
			}
		}
		// .subscribe__input
		&__input {
			padding: 12px;
			line-height: 1.55;
			flex: 1 1 auto;
			width: 100%;
			font-size: toRem(18);
			border-radius: toRem(40);
			border: #E3E6F0 toRem(1) solid;
		}
		// .subscribe__button
		&__button {
			background-color: $bgColorLite;
			padding: toRem(12) toRem(36);
			font-size: toRem(18);
			font-weight: 700;
			color: #fff;
			transition: all 0.3s ease;
			&:hover {
				background-color: $bgColorSemi;
			}
		}
}

.social {
		// .social__item
		&__item {
		}
		// .social__link
		&__link {
		}
}

.menu-footer {
	display: flex;
	@include adaptiveValue("gap", 100, 64);
		// .menu-footer__company
		&__company {

		}
		// .menu-footer__tiile
		&__tiile {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.33;
			margin-bottom: toRem(24);
		}
		// .menu-footer__list
		&__list {
		}
		// .menu-footer__item
		&__item {
			margin-bottom: toRem(16);
		}
		// .menu-footer__link
		&__link {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
		// .menu-footer__legal
		&__legal {
		}
}


